:root {
    --light: #F3D8DE;
    --lighter: #E6B2BC;
    --medium: #ebacb8;
    --dark: #ca687c;
    --darkest: #BC435B;
    --background-color: #e7e4e4;
    --bg-gray:  #5f5f5f;
    --teste: #FFE9AE;
    --width-btn: 30px;
  }