h1 {
  text-align: center;
  color: var(--teste);
  font-size: 3rem;
}

.lado-a-lado {
  display: flex;
  justify-content: space-evenly;
}

.container {
  max-width: 70%;
  margin-bottom: 70px;
}

form {
  margin-top: 100px;
  background-color: var(--dark);
  padding: 50px 50px 20px 50px;
  border-radius: 20px;
}

.produto-cadastrado {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: rgb(133, 182, 133);
  margin-bottom: 20px;
  border-radius: 8px;
}

.campo-input-lado {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  width: 40%;
}

.campo-input {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 32px;
  width: 87%;
}

.campo-input label, .campo-input-lado label {
  font-size: 1.3em;
  margin-bottom: 8px;
  font-weight: bold;
  color: var(--teste);
}

.cadastro-input {
  border: none;
  padding: 12px 0 12px 12px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.cadastro-input:focus {
  outline: solid 2px var(--teste);
}

.cadastro-btn {
  width: 100%;
  padding: 12px 0;
  border: none;
  border-radius: 8px;
  background-color: var(--teste);
  transition: 0.3s ease;
  font-size: 1.2em;
  margin-top: 40px;
}

.cadastro-btn:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  opacity: 0.8;
  color: white;
}

form a {
  display: flex;
  justify-content: end;
  text-decoration: none;
  color: var(--teste);
  margin-top: 20px;
}

form a:hover {
  opacity: 0.8;
  color: var(--teste);
  text-decoration: underline;
}

.final-cadastro {
  text-align: center;
  font-size: 18px;
  margin: 32px auto 0;
  width: 70%;
  color: rgb(1, 99, 1);
  background-color: #769C51;
  border-radius: 8px;
}

.erro-nome,
.erro-sobrenome,
.erro-email,
.erro-senha1,
.erro-senha2,
.erro-cep,
.erro-bairro,
.erro-rua,
.erro-numero,
.erro-cidade,
.erro-estado,
.erro-cadastro {
  color: red;
  font-weight: bold;  
}

@media (max-width: 970px) {
  .lado-a-lado {
    flex-direction: column;
  }

  .campo-input-lado {
    width: 100%;
  }

  .campo-input {
    width: 100%;
  }
}