@import url(/view/home/css/global.css);

.container {
  max-width: 50%;
  margin-bottom: 70px;
}

form {
  margin-top: 100px;
  background-color: var(--dark);
  padding: 50px;
  border-radius: 20px;
}

.produto-cadastrado {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: rgb(133, 182, 133);
  margin-bottom: 20px;
  border-radius: 8px;
}

.produto-cadastrado-remove {
  background-color: rgb(133, 182, 133);
  border: none;
  color: var(--teste);
}

.campo-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.campo-input label {
  font-size: 1.3em;
  margin-bottom: 8px;
  font-weight: bold;
  color: var(--teste);
}

.cadastro-input {
  border: none;
  padding: 12px 0 12px 12px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.cadastro-input:focus {
  outline: solid 2px var(--teste);
}

.container-valor {
  position: relative;
}

.cadastro-valor {
  padding-left: 42px;
}

.cadastro-moeda {
  position: absolute;
  font-size: 18px;
  bottom: -5.5px;
  left: 10px;
}

.cadastro-img::-webkit-inner-spin-button {
  background-color: var(--teste);
}

.cadastro-btn {
  width: 100%;
  padding: 12px 0;
  border: none;
  border-radius: 8px;
  background-color: var(--teste);
  transition: 0.3s ease;
  font-size: 1.2em;
}

.cadastro-btn:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  opacity: 0.8;
  color: white;
}

.erro-nome,
.erro-valor,
.erro-status,
.erro-img {
  color: red;
}
